<!--=========== BEGIN FOOTER ================-->
<footer id="footer">
    <div class="col-12 text-center footer-dark p-4">
        <div class="p-3">
            <a href="https://www.facebook.com/dastbimma" target="_blank"><img
                    class="text-center mr-2" src="assets/img/social_media_icons/fb-icon.png"
                    width="30px" height="30px"></a>
            <a href="https://www.youtube.com/channel/UCC4l7tKkbzPz-XRAyDPbypg/videos?view=0&sort=da" target="_blank"><img
                    class="text-center mr-2" src="assets/img/social_media_icons/youtube-icon.png"
                    width="30px" height="30px"></a>
            <a href="https://www.instagram.com/dastbimma/" target="_blank"><img
                    class="text-center" src="assets/img/social_media_icons/instagram-icon.jpeg"
                    width="30px" height="30px"></a>
        </div>
        <div>&copy; <span id="footer_year">2021</span> DUSTBI MMA. All Rights Reserved.</div>
    </div>
</footer>

<!--=========== END FOOTER ================-->