<!--=========== BEGIN FOOTER ================-->
<footer id="footer">
    <div class="col-12 text-center footer-dark p-4">
        <div class="p-3">
            <a href="https://www.facebook.com/dastbimma" target="_blank"><img
                    class="text-center mr-2" src="assets/img/social_media_icons/fb-icon.png"
                    width="30px" height="30px"></a>
            <a href="https://www.youtube.com/channel/UCC4l7tKkbzPz-XRAyDPbypg/videos?view=0&sort=da" target="_blank"><img
                    class="text-center mr-2" src="assets/img/social_media_icons/youtube-icon.png"
                    width="30px" height="30px"></a>
            <a href="https://www.instagram.com/dastbimma/" target="_blank"><img
                    class="text-center" src="assets/img/social_media_icons/instagram-icon.jpeg"
                    width="30px" height="30px"></a>
        </div>
        <div>&copy; <span id="footer_year">2022</span> DUSTBI MMA. All Rights Reserved.</div>
    </div>


<!-- Javascript Files
================================================== -->

<!-- initialize jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- For smooth animatin  -->
<script src="js/wow.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- superslides slider -->
<script src="js/jquery.superslides.min.js" type="text/javascript"></script>
<!-- slick slider -->
<script src="js/slick.min.js"></script>
<!-- for circle counter -->
<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>


<!-- Custom js-->
<script src="js/custom.js"></script>
<script>
    $(document).ready(function () {

        var s_round = '.s_round';
        var date = new Date()
        $("#footer_year").text(date.getFullYear())
        $(s_round).hover(function () {
            $('.b_round').toggleClass('b_round_hover');
            return false;
        });

        $(s_round).click(function () {
            $('.flip_box').toggleClass('flipped');
            $(this).addClass('s_round_click');
            $('.s_arrow').toggleClass('s_arrow_rotate');
            $('.b_round').toggleClass('b_round_back_hover');
            return false;
        });

        $(s_round).on('transitionend', function () {
            $(this).removeClass('s_round_click');
            $(this).addClass('s_round_back');
            return false;
        });
    });
</script>
</footer>

<!--=========== END FOOTER ================-->