<section class="recent-videos">
  <div class="container-tab">
    <div class="col-lg-12 col-md-12 p-0">
      <div class="heading">
        <h2 class="wow fadeInLeftBig">Our Recent Videos</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 p-0">
        <!-- BEGIN SERVICE  -->
        <div class="apporach_area">
          <div class="col-12">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-3">
              <!-- BEGIN SINGLE SERVICE -->
              <div class="single_apporach wow fadeInRight pb-5">
                <iframe src="https://www.youtube.com/embed/jMNq_oppRrw" class="m-2 youtube-iframe">
                </iframe>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-3">
              <!-- BEGIN SINGLE SERVICE -->
              <div class="single_apporach wow fadeInLeft pb-5">
                <iframe src="https://www.youtube.com/embed/JTbobhJPw6Q" class="m-2 youtube-iframe">
                </iframe>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-3">
              <!-- BEGIN SINGLE SERVICE -->
              <div class="single_apporach wow fadeInRight pb-5">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="m-2 youtube-iframe">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>