
<!-- BEGIN SLIDER AREA-->
<div class="slider_area">
  <!-- BEGIN SLIDER-->
  <div id="slides">
    <ul class="slides-container">
      <!-- 1ST SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/1_kattlebell_workout.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>KETTLEBELL TRAINING</h2>
          <p>Some details about Kettlebell.</p>
        </div>
      </li>

      <!-- 2ND SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/2_brazilian_jiu_jitsu.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>BJJ TRAINING</h2>
          <p>Some details about BJJ and MMA.</p>
        </div>
      </li>
      <!-- 3RD SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/3_1_karate.png">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>KARATE CLASSES</h2>
          <p>Some details about Karate.</p>
        </div>
      </li>
      <!-- 4TH SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/4_mma_fight.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>MMA FIGHTING</h2>
          <p>MMA training and fighting details.</p>
        </div>
      </li>
      <!-- 3RD SLIDE-->
      <!--<li style="background: #333;">-->
      <!--&lt;!&ndash; FOURTH SLIDE OVERLAY &ndash;&gt;-->
      <!--<div class="slider_overlay"></div>-->
      <!--&lt;!&ndash; FOURTH SLIDE MAIN IMAGE &ndash;&gt;-->
      <!--<img src="assets/img/gallery/silos_banner.jpg" alt="img">-->
      <!--&lt;!&ndash; FOURTH SLIDE CAPTION&ndash;&gt;-->
      <!--<div class="slider_caption">-->
      <!--<h2>Break down silos in your organization</h2>-->
      <!--<p>Let information flow freely and securely. Ignite innovation and accelerate growth.</p>-->
      <!--</div>-->
      <!--</li>-->
    </ul>
    <!-- BEGIN SLIDER NAVIGATION -->
    <nav class="slides-navigation">
      <!-- PREV IN THE SLIDE -->
      <a class="prev" href="#">
        <span class="icon-wrap fa fa-angle-left"></span>
      </a>
      <!-- NEXT IN THE SLIDE -->
      <a class="next" href="#">
        <span class="icon-wrap fa  fa-angle-right"></span>
      </a>
    </nav>
  </div>
  <!-- END SLIDER-->
</div>
<!-- END SLIDER AREA -->