
<!-- BEGIN SLIDER AREA-->
<div class="slider_area">
  <!-- BEGIN SLIDER-->
  <div id="slides">
    <ul class="slides-container">
      <!-- 1ST SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/1_kattlebell_workout.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>Define new Limits</h2>
          <p>Revolutionizing your fitness journey with MMA, BJJ, Karate and kettlebell training.</p>
        </div>
      </li>

      <!-- 2ND SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/2_brazilian_jiu_jitsu.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>Women in Action</h2>
          <p>Ladies, it’s time to master the art of Self-defence. Presenting Divas to Defence program.</p>
        </div>
      </li>
      <!-- 3RD SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/3_1_karate.png">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>Empowering the Youth</h2>
          <p>Unlock your kid’s true potential with our Youth Program.</p>
        </div>
      </li>
      <!-- 4TH SLIDE-->
      <li style="background: #333;">
        <!-- FOURTH SLIDE OVERLAY -->
        <div class="slider_overlay"></div>
        <!-- FOURTH SLIDE MAIN IMAGE -->
        <img alt="img" src="./assets/img/gallery/4_mma_fight.jpeg">
        <!-- FOURTH SLIDE CAPTION-->
        <div class="slider_caption">
          <h2>Ultimate strength training</h2>
          <p>Strengthen your core with our special strength training.</p>
        </div>
      </li>
    </ul>
    <!-- BEGIN SLIDER NAVIGATION -->
    <nav class="slides-navigation">
      <!-- PREV IN THE SLIDE -->
      <a class="prev" href="#">
        <span class="icon-wrap fa fa-angle-left"></span>
      </a>
      <!-- NEXT IN THE SLIDE -->
      <a class="next" href="#">
        <span class="icon-wrap fa  fa-angle-right"></span>
      </a>
    </nav>
  </div>
  <!-- END SLIDER-->
</div>
<!-- END SLIDER AREA -->