<section class="subsidiaries">
    <div class="container">
        <div class="col-lg-12 col-md-12 p-0">
            <div class="heading">
                <h2 class="wow fadeInLeftBig">Why choose Dastbi?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 p-0">
                <!-- BEGIN SERVICE  -->
                <div class="media-body default-content-padding white-bg">
                    <h4>Expert instructors</h4>
                    <div class="">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Get access to the ultimate fitness training with our experienced trainers.
                    </div>
                    <h4>High quality equipment</h4>
                    <div class="mt-2">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Delivering guaranteed results with range of standard quality equipment along with modern facilities.
                    </div>
                    <h4>Personal Training</h4>
                    <div class="mt-2">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Keep track of your fitness goal and find the best fit with our personalized plan of attack.
                    </div>
                    <h4>Diet Nutrition</h4>
                    <div class="mt-2">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Obtain the well-balanced lifestyle with our customized diet plan and exercise routine.
                    </div>
                    <h4>Gender equality</h4>
                    <div class="mt-2">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Ensuring all our clients are treated as equals with dignity and respect irrespective of their gender.
                    </div>
                    <h4>Children friendly</h4>
                    <div class="mt-2">
                        <span class="fa fa-arrows grey-font"></span> &nbsp; Youth program designed to motivate children and develop coordination, strength and confidence.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>